.center {
  text-align: center;  
}

.bold {
  font-weight: bold;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.mr-8 {
  margin-right: 8px;
}

.header-menu {
  .MuiMenu-paper {
    top: 53px !important;
    right: 13px;
    width: 142px;
  }
}

.capitalize {
  text-transform: capitalize
}